<div class="space-y-4">
  <h2 class="text-xl font-semibold text-secondary dark:text-secondary-dark">
    {{ 'AUTH.REGISTER_COACH.PROFESSIONAL_INFORMATION' | translate }}
  </h2>

  <app-number-input
    [control]="yearsOfExperience()"
    [label]="'AUTH.REGISTER_COACH.YEARS_OF_EXPERIENCE'"
    [placeholder]="'AUTH.REGISTER_COACH.PLACEHOLDERS.YEARS_OF_EXPERIENCE'"
  />

  <app-page-select
    [control]="specializationFields()"
    [items]="specializationOptions"
    [label]="'AUTH.REGISTER_COACH.SPECIALIZATION_FIELDS'"
    [placeholder]="'AUTH.REGISTER_COACH.SELECT_SPECIALIZATION_FIELDS'"
    [required]="true"
    [multiple]="true"
  />

  <app-page-input
    [control]="bio()"
    [label]="'AUTH.REGISTER_COACH.BIO'"
    [placeholder]="'AUTH.REGISTER_COACH.PLACEHOLDERS.BIO'"
  />

  <app-number-input
    [control]="pricing()"
    [label]="'AUTH.REGISTER_COACH.PRICING'"
    [placeholder]="'AUTH.REGISTER_COACH.PLACEHOLDERS.PRICING'"
  />
</div>
