<div>
  <app-line-chart [config]="chartConfig"></app-line-chart>
  <div class="flex justify-between items-center">
    <div>
      <p class="text-sm font-medium text-secondary dark:text-secondary-dark">
        Target Weight Loss:
        <span class="font-bold">{{ targetWeightLoss() }} kg</span>
      </p>
      <p class="text-sm font-medium text-secondary dark:text-secondary-dark">
        {{ chartSpanLabel() }} Weight Loss:
        <span class="font-bold">{{ targetWeightLoss() }} kg</span>
      </p>
    </div>
    <div class="flex gap-2">
      <button
        class="border rounded-full py-2 px-4 transition"
        [class.bg-accent-dark]="chartSpan() === ChartSpaceVlues.DAY"
        [class.text-white]="chartSpan() === ChartSpaceVlues.DAY"
        (click)="chartSpan.set(ChartSpaceVlues.DAY)"
      >
        day
      </button>

      <button
        class="border rounded-full py-2 px-4 transition"
        [class.bg-accent-dark]="chartSpan() === ChartSpaceVlues.THREE_MONTHS"
        [class.text-white]="chartSpan() === ChartSpaceVlues.THREE_MONTHS"
        (click)="chartSpan.set(ChartSpaceVlues.THREE_MONTHS)"
      >
        month
      </button>

      <button
        class="border rounded-full py-2 px-4 transition"
        [class.bg-accent-dark]="chartSpan() === ChartSpaceVlues.SIX_MONTHS"
        [class.text-white]="chartSpan() === ChartSpaceVlues.SIX_MONTHS"
        (click)="chartSpan.set(ChartSpaceVlues.SIX_MONTHS)"
      >
        6month
      </button>

      <button
        class="border rounded-full py-2 px-4 transition"
        [class.bg-accent-dark]="chartSpan() === ChartSpaceVlues.YEAR"
        [class.text-white]="chartSpan() === ChartSpaceVlues.YEAR"
        (click)="chartSpan.set(ChartSpaceVlues.YEAR)"
      >
        year
      </button>
    </div>
  </div>
</div>
