<div class="space-y-6">
  <div class="space-y-4">
    <h2 class="text-xl font-semibold text-secondary dark:text-secondary-dark">
      {{ 'REGISTER_CLIENT.PERSONAL_INFORMATION' | translate }}
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <app-page-input
        [control]="firstName()"
        [label]="'REGISTER_CLIENT.FIRST_NAME'"
        [placeholder]="'REGISTER_CLIENT.PLACEHOLDERS.FIRST_NAME'"
      />

      <app-page-input
        [control]="lastName()"
        [label]="'REGISTER_CLIENT.LAST_NAME'"
        [placeholder]="'REGISTER_CLIENT.PLACEHOLDERS.LAST_NAME'"
      />
    </div>

    <app-page-input
      [control]="email()"
      [label]="'REGISTER_CLIENT.EMAIL'"
      [type]="'email'"
      [placeholder]="'REGISTER_CLIENT.PLACEHOLDERS.EMAIL'"
    />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <app-page-select
        [control]="gender()"
        [items]="genderOptions"
        [label]="'REGISTER_CLIENT.GENDER'"
        [placeholder]="'REGISTER_CLIENT.PLACEHOLDERS.SELECT_GENDER'"
        [required]="true"
      />

      <app-date-input
        [control]="birthDate()"
        [label]="'REGISTER_CLIENT.BIRTH_DATE'"
        [validations]="dateValidations"
        [type]="'date'"
        [placeholder]="'REGISTER_CLIENT.PLACEHOLDERS.BIRTH_DATE'"
        [stylingClass]="
          'w-full px-3 text-base text-primary-dark dark:text-primary bg-primary dark:bg-primary-dark border border-secondary dark:border-secondary-dark rounded-md shadow-sm placeholder:text-muted dark:placeholder:text-muted-dark focus:outline-none focus:ring-2 focus:ring-accent focus:border-accent disabled:bg-muted dark:disabled:bg-muted-dark disabled:text-muted dark:disabled:text-muted-dark disabled:cursor-not-allowed readonly:bg-secondary dark:readonly:bg-secondary-dark readonly:cursor-default transition-colors duration-200'
        "
      />
    </div>
  </div>
</div>
