<div class="mb-lg">
  <p class="mt-xs text-sm text-muted dark:text-muted-dark">
    {{ 'CLIENT_PROFILE.FITNESS_INFO.WEIGH_IN_TIP' | translate }}
  </p>
</div>

<div class="flex flex-col gap-lg">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-lg">
    <app-number-input
      [control]="control.weight"
      [label]="'CLIENT_PROFILE.FITNESS_INFO.DAILY_WEIGHT'"
      [placeholder]="'CLIENT_PROFILE.FITNESS_INFO.PLACEHOLDERS.WEIGHT'"
    />
    <app-number-input
      [control]="control.bodyFatPercentage"
      [label]="'CLIENT_PROFILE.FITNESS_INFO.BODY_FAT'"
      [placeholder]="'CLIENT_PROFILE.FITNESS_INFO.PLACEHOLDERS.BODY_FAT'"
    />
    <app-number-input
      [control]="control.muscleMass"
      [label]="'CLIENT_PROFILE.FITNESS_INFO.MUSCLE_MASS'"
      [placeholder]="'CLIENT_PROFILE.FITNESS_INFO.PLACEHOLDERS.MUSCLE_MASS'"
    />
    <app-page-input
      [control]="control.notes"
      [label]="'TRACKING.SLEEP.NOTES'"
      [placeholder]="'TRACKING.SLEEP.PLACEHOLDERS.NOTES'"
    />
  </div>
  <div
    class="flex justify-between items-center gap-4 mt-6 pt-6 border-t border-secondary/20 dark:border-secondary-dark/20"
  >
    <p class="text-sm text-muted dark:text-muted-dark">
      {{ 'CLIENT_PROFILE.FITNESS_INFO.WEIGH_IN_TIP' | translate }}
    </p>
    <app-button
      [variant]="ButtonProperties.ButtonVariant.PRIMARY"
      [size]="ButtonProperties.ButtonSize.MEDIUM"
      [text]="'CLIENT_PROFILE.FITNESS_INFO.RECORD_WEIGHT'"
      [disabled]="form.invalid || loading"
      [loading]="loading"
      (clicked)="onSubmit()"
    />
  </div>
</div>
