<div class="max-w-md mx-auto mt-10 p-6">
  @if(this.form.formLoader()){
  <forma-loading />
  } @else {
  <form class="flex flex-col gap-6">
    <div class="w-full flex justify-between gap-4">
      <app-button
        [text]="'AUTH.CLIENT' | translate"
        [variant]="ButtonProperties.ButtonVariant.PRIMARY"
        class="w-full"
        [ngClass]="
          form.controls.userType.value === UserType.CLIENT
            ? 'opacity-100'
            : 'opacity-50'
        "
        (clicked)="changeRole(UserType.CLIENT)"
      /><app-button
        [text]="'AUTH.COACH'"
        [variant]="ButtonProperties.ButtonVariant.PRIMARY"
        class="w-full"
        [ngClass]="
          form.controls.userType.value === UserType.COACH
            ? 'opacity-100'
            : 'opacity-50'
        "
        (clicked)="changeRole(UserType.COACH)"
      />
    </div>
    <app-page-input [control]="form.controls.email" [label]="'AUTH.EMAIL'" />
    <app-page-input
      [control]="form.controls.password"
      [label]="'AUTH.PASSWORD'"
      [type]="'password'"
    />
    <app-button
      [text]="'AUTH.LOGIN_BUTTON'"
      [loading]="this.form.formLoader()"
      [variant]="ButtonProperties.ButtonVariant.PRIMARY"
      (clicked)="onSubmit()"
    />
    @if(form.controls.userType.value === UserType.COACH){
    <app-button
      [text]="'AUTH.REGISTER_COACH.REDIRECT'"
      [variant]="ButtonProperties.ButtonVariant.SECONDARY"
      routerLink="/register"
    />
    }
  </form>
  }
</div>
