<div class="p-4 max-w-full mx-auto h-fit flex flex-col overflow-hidden">
  <div class="grid grid-cols-3 items-center gap-4 mb-6">
    <div class="flex items-center gap-3">
      <button
        (click)="redirectToClientList()"
        class="flex items-center justify-center w-10 h-10 rounded-lg border border-secondary/20 bg-primary dark:border-secondary-dark/20 dark:bg-primary-dark hover:bg-secondary/5 dark:hover:bg-secondary-dark/5 hover:border-accent dark:hover:border-accent-dark transition-all"
      >
        <span class="material-icons text-secondary dark:text-secondary-dark"
          >arrow_back</span
        >
      </button>
    </div>
    <div class="place-self-center">
      <div class="flex items-center justify-center gap-2">
        <button
          (click)="previousDay()"
          class="flex items-center justify-center px-1 py-3 rounded-sm border border-secondary/20 bg-primary dark:border-secondary-dark/20 dark:bg-primary-dark hover:bg-secondary/5 dark:hover:bg-secondary-dark/5 hover:border-accent dark:hover:border-accent-dark transition-all"
        >
          <span class="material-icons text-secondary dark:text-secondary-dark"
            >chevron_left</span
          >
        </button>
        <app-date-input
          [control]="selectedDate"
          [validations]="dateValidations"
          (valueChange)="onDateChange($event)"
        />
        <button
          (click)="nextDay()"
          class="flex items-center justify-center px-1 py-3 rounded-sm border border-secondary/20 bg-primary dark:border-secondary-dark/20 dark:bg-primary-dark hover:bg-secondary/5 dark:hover:bg-secondary-dark/5 hover:border-accent dark:hover:border-accent-dark transition-all"
        >
          <span class="material-icons text-secondary dark:text-secondary-dark"
            >chevron_right</span
          >
        </button>
        <button
          (click)="goToToday()"
          class="px-4 py-3 rounded-sm border border-secondary/20 bg-primary text-secondary dark:border-secondary-dark/20 dark:bg-primary-dark dark:text-secondary-dark hover:bg-secondary/5 dark:hover:bg-secondary-dark/5 hover:border-accent dark:hover:border-accent-dark transition-all whitespace-nowrap font-medium"
        >
          Today
        </button>
      </div>
    </div>
    @if(user === UserType.COACH){
    <div class="flex items-center justify-end">
      <button
        (click)="openEditClientGoals()"
        class="flex items-center justify-center w-10 h-10 rounded-lg border border-secondary/20 bg-primary dark:border-secondary-dark/20 dark:bg-primary-dark hover:bg-secondary/5 dark:hover:bg-secondary-dark/5 transition-all"
      >
        <span class="material-icons text-secondary dark:text-secondary-dark"
          >more_vert</span
        >
      </button>
    </div>
    }
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-4 relative flex-1 overflow-hidden"
  >
    <div
      class="row-span-1 md:col-span-2 lg:col-span-2 rounded-lg border border-secondary/20 bg-primary p-4 dark:border-secondary-dark/20 dark:bg-primary-dark shadow-sm"
    >
      <app-general-info
        [clientId]="clientId()"
        (memberSince)="memberSince.set($event)"
      />
    </div>
    @if(clientGoals().generalGoals){
    <div
      class="row-span-1 md:col-span-2 lg:col-span-2 rounded-lg border border-secondary/20 bg-primary p-4 dark:border-secondary-dark/20 dark:bg-primary-dark shadow-sm"
    >
      <app-fitness-info
        [clientId]="clientId()"
        [clientGoals]="clientGoals().generalGoals"
      />
    </div>
    <div
      class="row-span-1 md:col-span-2 lg:col-span-2 rounded-lg border border-secondary/20 bg-primary p-4 dark:border-secondary-dark/20 dark:bg-primary-dark shadow-sm"
    >
      <app-weight-tracking
        [clientId]="clientId()"
        [targetWeightLoss]="clientGoals().generalGoals.weightGoal"
      />
    </div>
    }
    <div
      class="row-span-1 md:col-span-2 lg:col-span-6 rounded-lg bg-primary dark:bg-primary-dark shadow-sm"
    >
      <app-tracking
        [clientId]="clientId()"
        [todayDate]="selectedDate.value"
        [clientGoals]="clientGoals().trackingGoal"
      />
    </div>
  </div>
</div>
