<div class="p-4 max-w-full mx-auto h-fit flex flex-col overflow-hidden">
  <div class="grid grid-cols-3 items-center gap-4 mb-6">
    <div class="flex items-center gap-3">
      <button
        (click)="redirectToClientList()"
        class="flex items-center justify-center w-10 h-10 rounded-lg border border-secondary/20 bg-primary dark:border-secondary-dark/20 dark:bg-primary-dark hover:bg-secondary/5 dark:hover:bg-secondary-dark/5 hover:border-accent dark:hover:border-accent-dark transition-all"
      >
        <span class="material-icons text-secondary dark:text-secondary-dark"
          >arrow_back</span
        >
      </button>
    </div>

    <div class="place-self-center">
      <div class="flex items-center justify-center">
        <input
          type="date"
          [ngModel]="selectedDate() | date : 'yyyy-MM-dd'"
          (ngModelChange)="onDateChange($event)"
          class="w-full px-4 py-3 rounded-md border border-secondary/20 bg-primary text-secondary dark:border-secondary-dark/20 dark:bg-primary-dark dark:text-secondary-dark focus:outline-none focus:ring-2 focus:ring-accent dark:focus:ring-accent-dark transition-all"
        />
      </div>
    </div>

    <div class="flex items-center justify-end">
      <button
        class="flex items-center justify-center w-10 h-10 rounded-lg border border-secondary/20 bg-primary dark:border-secondary-dark/20 dark:bg-primary-dark hover:bg-secondary/5 dark:hover:bg-secondary-dark/5 transition-all"
      >
        <span class="material-icons text-secondary dark:text-secondary-dark"
          >more_vert</span
        >
      </button>
    </div>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-4 relative flex-1 overflow-hidden"
  >
    <div
      class="row-span-1 md:col-span-2 lg:col-span-2 rounded-lg border border-secondary/20 bg-primary p-4 dark:border-secondary-dark/20 dark:bg-primary-dark shadow-sm"
    >
      <app-general-info [clientId]="clientId()" />
    </div>

    <div
      class="row-span-1 md:col-span-2 lg:col-span-2 rounded-lg border border-secondary/20 bg-primary p-4 dark:border-secondary-dark/20 dark:bg-primary-dark shadow-sm"
    >
      <app-client-goals [clientId]="clientId()" />
    </div>

    <div
      class="row-span-1 md:col-span-2 lg:col-span-2 rounded-lg border border-secondary/20 bg-primary p-4 dark:border-secondary-dark/20 dark:bg-primary-dark shadow-sm"
    >
      <app-fitness-info [clientId]="clientId()" />
    </div>

    <div
      class="row-span-1 md:col-span-2 lg:col-span-6 rounded-lg bg-primary dark:bg-primary-dark shadow-sm"
    >
      <app-tracking [clientId]="clientId()" [todayDate]="selectedDate()" />
    </div>
  </div>
</div>
