<div class="p-4 max-w-full mx-auto h-fit flex flex-col overflow-hidden">
  <div class="grid grid-cols-3 items-center gap-4 mb-6">
    <div class="flex items-center gap-3">
      @if (user === UserType.COACH) {
      <app-button
        [variant]="ButtonProperties.ButtonVariant.NEUTRAL"
        [size]="ButtonProperties.ButtonSize.SMALL"
        [icon]="'arrow_back'"
        (clicked)="redirectToClientList()"
      />
      }
    </div>
    <div class="place-self-center">
      <div class="flex items-center justify-center gap-2">
        <app-button
          [variant]="ButtonProperties.ButtonVariant.NEUTRAL"
          [size]="ButtonProperties.ButtonSize.MEDIUM"
          [icon]="'chevron_left'"
          (clicked)="previousDay()"
        />
        <app-date-input
          [control]="selectedDate"
          [validations]="dateValidations"
          (valueChange)="onDateChange($event)"
        />
        <app-button
          [variant]="ButtonProperties.ButtonVariant.NEUTRAL"
          [size]="ButtonProperties.ButtonSize.MEDIUM"
          [icon]="'chevron_right'"
          (clicked)="nextDay()"
        />
        <app-button
          [variant]="ButtonProperties.ButtonVariant.NEUTRAL"
          [size]="ButtonProperties.ButtonSize.MEDIUM"
          [text]="'CLIENT_PROFILE.NAVIGATION.TODAY'"
          (clicked)="goToToday()"
        />
      </div>
    </div>
    @if(user === UserType.COACH){
    <div class="flex items-center justify-end relative">
      <div
        [ngClass]="
          !clientGoalsVerification()
            ? 'absolute bg-yellow-500 transition-all duration-75 rounded-full w-4 h-4 animate-pulse -top-1 -right-1'
            : ''
        "
      ></div>
      <app-client-actions [clientId]="clientId()" />
    </div>
    }
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-4 relative flex-1 overflow-hidden"
  >
    <div
      class="row-span-1 md:col-span-2 lg:col-span-2 rounded-lg border border-secondary/20 bg-primary p-4 dark:border-secondary-dark/20 dark:bg-primary-dark shadow-sm"
    >
      <app-general-info
        [clientId]="clientId()"
        (memberSince)="memberSince.set($event)"
      />
    </div>
    @if(clientGoals().generalGoals){
    <div
      class="row-span-1 md:col-span-2 lg:col-span-2 rounded-lg border border-secondary/20 bg-primary p-4 dark:border-secondary-dark/20 dark:bg-primary-dark shadow-sm"
    >
      <app-fitness-info
        [clientId]="clientId()"
        [clientGoals]="clientGoals().generalGoals"
      />
    </div>
    <div
      class="row-span-1 md:col-span-2 lg:col-span-2 rounded-lg border border-secondary/20 bg-primary p-4 dark:border-secondary-dark/20 dark:bg-primary-dark shadow-sm"
    >
      <app-weight-tracking
        [clientId]="clientId()"
        [targetWeightLoss]="clientGoals().generalGoals.weightGoal"
      />
    </div>
    }
    <div
      class="row-span-1 md:col-span-2 lg:col-span-6 rounded-lg bg-primary dark:bg-primary-dark shadow-sm"
    >
      <app-tracking
        [clientId]="clientId()"
        [todayDate]="selectedDate.value"
        [clientGoals]="clientGoals().trackingGoal"
      />
    </div>
  </div>
</div>
