<div
  class="rounded-lg border border-secondary/20 bg-primary p-4 dark:border-secondary-dark/20 dark:bg-primary-dark shadow-sm"
>
  <div class="flex items-center justify-between mb-4">
    <h2
      class="text-base font-semibold text-secondary dark:text-secondary-dark flex items-center gap-2"
    >
      <span class="text-xl">📊</span>
      Daily Tracking
    </h2>
  </div>

  @if(loading()) {
  <forma-loading />
  } @else {
  <div
    class="grid gap-2"
    style="grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))"
  >
    @if(clientGoals()){ @for(card of trackingCards(); track
    card.permissionType){
    <app-tracking-card-wrapper
      [title]="card.title"
      [isEnabled]="card.permission"
      [currentUser]="currentUser()"
      [permissionType]="card.permissionType"
    >
      @switch(card.component) { @case('exercise') {
      <app-exercise-tracking
        [todayDate]="todayDate()"
        [goal]="clientGoals()!.exerciseGoal"
      />
      } @case('sleep') {
      <app-sleep-tracking
        [todayDate]="todayDate()"
        [goal]="clientGoals()!.sleepGoal"
      />
      } @case('nutrition') {
      <app-food-tracking
        [todayDate]="todayDate()"
        [goal]="clientGoals()!.nutritionGoals"
      />
      } @case('water') {
      <app-water-tracking
        [todayDate]="todayDate()"
        [goal]="clientGoals()!.waterGoal"
      />
      } }
    </app-tracking-card-wrapper>
    } }
  </div>
  }
</div>
